- name: some advanced loops
  hosts: local
  connection: local
  tasks:
  - name: installing the list of packages
    ansible.builtin.package:
      name: "{{item.name}}"
      state: "{{item.state}}"
    loop:
    - { name: 'mysql', state: 'absent' }
    - { name: 'podman', state: 'present' }
    - { name: 'nginx', state: 'absent' }
    - { name: 'vlc', state: 'present' }
    - { name: 'httpd', state: 'absent' }
    - { name: 'mariadb', state: 'present' }
    
    
