- name: conditions in Ansible
  hosts: local
  connection: local
  vars_prompt:
  - name: num
    prompt: please enter the number
    private: false
  tasks:
  - name: is given number is greaterthan 210
    ansible.builtin.debug:
      msg: given number {{num}} is greater than 210
    when: num | int > 210
  - name: is given number is less than 210
    ansible.builtin.debug:
      msg: given number {{num}} is less than 210
    when: num | int < 210
  - name: is given number is equal to 210
    ansible.builtin.debug:
      msg: given number {{num}} is equal to 210
    when: num | int == 210