- name: filters
  hosts: local # 192.168.21.32
  connection: local
  # become: yes
  vars:
    u_name: HemantH KuMaR
    list: [1,2,3,4,5,4,3,2,1,21,23,32,34,45,32,23,34]
  tasks:
  - name: default function/ filter
    ansible.builtin.debug:
      msg: "name: {{catalyst | default('Ansible')}}"
  - name: convert the details to upper
    ansible.builtin.debug:
      msg: "name in upper: {{u_name | upper}}"
  - name: convert the details to lower
    ansible.builtin.debug:
      msg: "name in upper: {{u_name | lower}}"
  - name: unique numbers
    # vars:
    #   list: [1,2,3,4,5,4,3,2,1,21,23,32,34,45,32,23,34]
    ansible.builtin.debug:
      msg: "{{list | unique}}"
  - name: minimum number
    ansible.builtin.debug:
      msg: "{{list | min}}"
  - name: maximum number
    ansible.builtin.debug:
      msg: "{{list | max}}"