- name: checking the user details
  hosts: web
  # connection: local
  # vars:
  # - hemanth
  # - kodem
  # - supre
  tasks:
  - name: check the user is exist or not
    ansible.builtin.command: id supreme
    register: user_info_details
    ignore_errors: true

  - name: print the details of the user
    ansible.builtin.debug:
      msg: 
      - details are-  {{ user_info_details }}
  
  - name: create the user
    ansible.builtin.command: useradd supreme
    when: user_info_details.rc != 0